<a href="https://colab.research.google.com/github/KitdelRosario/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [3]:
#Example 1
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

break statement

In [2]:
#Example 2
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [5]:
#Example 3
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x) #it only displays thursday
    break

Thursday

In [8]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x) #it displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [14]:
#it displays Tuesday and Wednesday
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Tuesday":
    print(x)  
  if x == "Wednesday":
    print(x)
    break

Tuesday
Wednesday

Looping Through a String

In [16]:
for x in "Kit Aldrich del Rosario":
  print(x)

K
i
t

A
l
d
r
i
c
h

d
e
l

R
o
s
a
r
i
o

Nested Loops

In [17]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
   print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [21]:
i = 1
while i <= 6:
  print(i)
  i+=1 #i=i+1 Assignment Operator

1
2
3
4
5
6

In [22]:
i =1
while i <6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [25]:
i =1
while i < 6:
  if i == 3:
   print(i) #print only 3
   break
  i+=1

3

The else statement

In [28]:
i=1
while i<6:
  print(i)
  i+=1
else:
 print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [44]:
word = ["hello"]
numbers = ["0","1","2","3","4","5","6","7","8","9","10"]

for x in word:
  for y in numbers:
   print(x,y)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

Application 2

In [47]:
i =3
while i < 10 and i>=3:
   print(i)
   if i == 10:
    break
   i+=1

3
4
5
6
7
8
9